<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="widget-head-color-box navy-bg p-lg text-center hidden-xs">
          <div class="m-b-md">
          <h2 class="font-bold no-margins">
            <%= @user.name %>
            <%sayHello(current_user[:id])%>
            <%getPaper(current_user[:id])%>
          </h2>
            <small>DownTown</small>
          </div>
          <!-- <img src="img/medium_hubertn.jpg" class="img-circle circle-border m-b-md" alt="profile"> -->
          <%= image_tag "medium_hubertn.jpg", data: {u: 'image'}, class: "img-circle circle-border m-b-md"%>
      </div>
      <div class="widget-text-box hidden-xs">
          <h4 class="media-heading text-center">Total Recycle Amount in lb(s)</h4>
          <div class="text-center">
              <div class="profile-button-layout">
                <button type="button" class="btn btn-info m-r-sm paperText"><%=getPaper(current_user[:id])%></button>Paper
              </div>
              <div class="profile-button-layout">
                <button type="button" class="btn btn-plastic m-r-sm plasticText">28</button>Plastic
              </div>
              <div class="profile-button-layout">
                <button type="button" class="btn btn-success m-r-sm glassText">45</button>Glass/Metal
              </div>
          </div>
      </div>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 class="text-center">Pie Chart </h5>

          <div ibox-tools></div>
        </div>
          <div class="ibox-content">
          <div>
            <canvas id="doughnutChart" height="140"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="ibox-title">
          <p><strong>How many lb(s) do you recycle?</strong></p>
          <div ibox-tools></div>
        </div>
      <div class="ibox-content">
        <div id="ionrange_1"></div>
      </div>
      <div class="ibox-title">
        <p><strong>What did you Recycle?</strong></p>
        <div ibox-tools></div>
     </div>
      <div class="ibox-content">
       <div class="form-group">
         <div class="input-group">
            <select data-placeholder="Choose a type..." class="chosen-select" style="width:300px;" tabindex="2">
              <option value="">Select</option>
              <option value="Plastic">Plastic</option>
              <option value="Paper">Paper</option>
              <option value="Glass/Metal">Glass/Metal</option>
            </select>
          </div>
        </div>
      </div>
      <div class="ibox-title">
        <p><strong>When did you Recycle?</strong></p>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content">
        <div class="form-group" id="data_1">
          <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control recycle_date" value="05/16/2015">
          </div>
        </div>
      </div>
      <div class="ibox-title">
        <p class="text-center"><strong>ToolBox</strong></p>
        <div ibox-tools></div>
      </div>
      <div class="ibox-content text-center">
        <button class="btn btn-outline btn-success dim toolBoxButton saveRecycle" type="button"><i class="fa fa-recycle toolBoxIcon"></i></button>
        <button class="btn btn-outline btn-warning dim toolBoxButton showTable" type="button"><i class="fa fa-table toolBoxIcon"></i></button>
        <button class="btn btn-outline btn-danger dim toolBoxButton clearInput" type="button"><i class="fa fa-remove toolBoxIcon"></i></button>
      </div>
    </div>
  </div>
  <script>
      $("#ionrange_1").ionRangeSlider({
      min: 0,
      max: 10,
      type: 'single',
      step: .1,
      postfix: " lb(s)",
      prettify: false,
    });

    $('#data_1 .input-group.date').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      calendarWeeks: true,
      autoclose: true
    });

  // What did you recycle?
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
  </script>
