<header class="navbar navbar-default main-header">
  <div class="container">
    <ul class="nav nav-pills navbar-right">
      <li role="presentation" ><%= link_to 'Home', root_path %></li>
      <li role="presentation" ><a href="#">About</a></li>
      <% if logged_in? %>
        <li role="presentation"><%= link_to "Log-out", logout_path, method: 'delete'%></li>
      <%else%>
        <li role="presentation"><%= link_to "Log-in", login_path %></li>
        <li role="presentation" ><%= link_to "Sign-Up", signup_path %></li>
      <%end%>
    </ul>
  </div>
</header>
